<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/p1.css' %}">

  <title>WatchWiz | Iniciar Sesión</title>
</head>
<body>
  <div class="fondoIS">
    <img src="{% static 'img/LogoWacthWiz.png' %}" alt="WatchWiz">
  </div>
  <main>
    <!-- Formulario para iniciar Sesión -->
    <form class="formularioIS" method="POST" action="{%url 'login' %}">
      <span class="tituloIS">Inicio de Sesión</span>
  
      {% csrf_token %}
      {{ form.as_p }}
  
      <!-- Botón para confirmar lo que semande en el formulario -->
      <button class="btn-estandar btn-IS" type="submit">Iniciar</button>
  
      <!-- Link para registrase -->
      <span>Aun no tienes una cuenta?</span>
      <a class="rgt" href="{% url 'registro' %}">Registrate aquí</a>
    </form>
  </main>
  
  
  {% if messages %}
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
  {% endif %}
</body>
</html>

