<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Trabajo</title>
    <!-- Incluye el CSS de Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <h2>Registrar Trabajo</h2>

    <!-- Formulario para registrar trabajo -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Registrar Trabajo</button>
        <button type="button" onclick="window.location.href='{% url 'home' %}'">Cancelar</button>
    
    </form>

    <!-- Incluye el script de Flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Activar el Flatpickr para los campos de fecha
        flatpickr("#received_date", {
            minDate: "today", // La fecha mínima será hoy
            dateFormat: "Y-m-d", // El formato de fecha que queremos guardar
        });

        flatpickr("#review_date", {
            minDate: "today", // La fecha mínima será hoy
            dateFormat: "Y-m-d", // El formato de fecha que queremos guardar
        });
    </script>
</body>
</html>
