{% extends 'base.html' %}
{% block content %}
<div class="categoria_container">
    <h1>Registrar una Nueva Categoría</h1>

    <form method="POST">
        {% csrf_token %}
        <!-- Muestra todos los campos del formulario -->
        <div>
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        </div>

        <button type="submit">Registrar Categoría</button>
        <button type="button" onclick="window.location.href='{% url 'inventario' %}'">Cancelar</button>
    </form>
</div>
{% endblock %}

