<header class="header">
    <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button>🔍</button>
    </div>
    <div class="header-icons">
        <span class="icon calendar">📅</span>
        <span class="icon notifications">🔔</span>
        <div class="user-avatar">
            <!-- Mostrar el logo de la empresa -->
             {% if imagen_url %}
             <img src="{{ imagen_url }}" alt="Logo de la empresa" width="150" height="150">
             {% else %}
             <p>No se ha subido un logo para esta empresa.</p>
             {% endif %}
        </div>
    </div>
</header>
