*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: linear-gradient(180deg, #15648F, #363795);
    display: flex;
}
.panel-container {
    width: 92%;
    height: 100vh;
}

/* Estilos para nuestra barra de navegación */
aside{
    background: #0f2e42;
    width: 8%;
    min-width: 100px;
    height: 100vh;
    z-index: 5;
}
nav {
    height: 100%;
    padding-left: 20%;
}
.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
}
.menu a {
    color: #c2e4f5;
    text-decoration: none;
    padding: .6rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}
.menu a > span {
    font-size: 0.7rem;
}

.menu a:hover {
    background: #279BD0;
    color: #0f2e42;
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
}

/* Estilos para el header */
header {
    padding: 2rem 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    display: flex;
    border: 0.25rem solid #e3f1fb;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    width: 60%;
    justify-content: space-between;
}
.search-bar input, .search-bar button {
    background: none;
    border: none;
    outline: none;
}
.search-bar input, .search-bar button {
    color: #f2f9fd;
}
.search-bar input {
    width: 85%;
    outline: none;
}
.search-bar button {
    font-size: 1.5rem;
}
.header-icons {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
    color: #fff;
    font-size: 1.5rem;
}
.header-icons > div {
    cursor: pointer;
}
/* Sombra de los iconos */
.iconS{
    filter: drop-shadow(0.1rem 0.2rem 0.15rem rgba(0,0,0,.6));
}
/* Iconos movibles */
.iconM {
    position: absolute;
}
div.user-avatar {
    width: 60%;
    height: 5rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.8rem;
    box-shadow: 0.1rem 0.2rem 0.5rem rgba(0,0,0,.6);
}
.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el panel */
main.content {
    height: calc(100vh - 8rem);
    padding: 0 2rem;
    display: flex;
}

/* Estilos para home.html = Tareas */
.listas {
    display: flex;
    width: 40%;
    height: 90%;
    font-size: 6rem;
    justify-content: space-evenly;
    color: #fff;
    align-items: center;
    transition: all .2s ease-in-out;
}
.listas > .mostrar, .listas > .no-mostrar {
    cursor: pointer;
    z-index: 2;
    transition: all .2s ease-in-out;
}
.no-mostrar {
    display: none;
}
.contenedor1 {
    font-size: 1rem;
    height: 100%;
    width: 50%;
    position: relative;
}
.contenedor2 {
    justify-items: center;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 200%;
    transition: all .2s ease-in-out;
}
.lista-tarea {
    height: 100%;
    width: 48%;
    background: rgba(0,0,0,.6);
    border-radius: 1rem;
    padding-top: 1rem;
    transition: all .2s ease-in-out;
    text-align: center;
}
.no-ver {
    filter: opacity(0.4);
    height: 80%;
    width: 40%;
    font-size: 0.7rem;
    pointer-events: none;
}
.rgt {
    left: -100%;
}
.contenedor3 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 94%;
    overflow: hidden auto;
}
.tarea {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.5rem;
    border-top: 1px solid #fff;
    cursor: pointer;
    height: 30%;
    justify-content: space-around;
}
.img-trabajo {
    width: 35%;
    aspect-ratio: 5 / 7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.3rem;
}
.img-trabajo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.tarea-info {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    width: 40%;
    height: 90%;
}
.name {
    width: 100%;
    font-weight: bold;
    text-align: left;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.half {
    width: 50%;
}
.tarea-info > p {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.half, .tarea-info > p {
    font-size: 0.7rem;
}

.no-ver .img-trabajo {
    border-radius: 0.2rem;
}
.no-ver .name {
    font-size: 0.7rem;
}
.no-ver .half, .no-ver .tarea-info > p {
    font-size: 0.6rem;
}

/* Estilos para el botón para agregar */
.agregar {
    position: absolute;
    right: 2rem;
    bottom: 4rem;
    cursor: pointer;
    font-size: 4rem;
    color: #1A85BD;
}
.agregar > .iconM {
    color: #c2e4f5;
    font-size: 1.5rem;
    right: 0;
    bottom: 0;
}