<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/p2.css' %}">
    <script src="{% static 'fontawesome/js/all.js' %}"></script>
    <title>WatchWiz | {% block title %}{% endblock %}</title>
</head>
<body>
    <aside>
        <!-- Menú lateral -->
        {% include 'principals/menu.html' %}
    </aside>
    <header>
        <!-- Encabezado -->
        {% include 'principals/header.html' %}
    </header>
    <div class="main-container">
        <!-- Contenido principal -->
        <main class="content">
            {% block content %}
            <!-- Contenido dinámico de cada vista -->
            {% endblock %}
        </main>
    </div>
</body>
</html>
