<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/p2.css' %}">
    <script src="{% static 'fontawesome/js/all.js' %}"></script>
    <script src="{% static 'js/lista.js' %}"></script>

    <!-- Incluir jQuery UI para el calendario -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.css" rel="stylesheet" />
    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.js"></script>


    <title>WatchWiz | {% block title %}{% endblock %}</title>
</head>
<body>
    <aside>
        <!-- Menú lateral -->
        {% include 'principals/menu.html' %}
    </aside>
    <div class="panel-container">
        <header>
            <!-- Encabezado -->
            {% include 'principals/header.html' %}
        </header>
        <!-- Contenido principal -->
        <main class="content">
            {% block content %}
            <!-- Contenido dinámico de cada vista -->
            {% endblock %}
        </main>
    </div>

    {% block extra_js %} {% endblock %}
</body>
</html>
