<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>WatchWiz | {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="main-container">
        <!-- Menú lateral -->
        {% include 'principals/menu.html' %}

        <!-- Contenido principal -->
        <main class="content">
            <!-- Encabezado -->
            {% include 'principals/header.html' %}

            <!-- Contenido dinámico -->
            <section class="main-content">
                {% block content %}
                <!-- Contenido dinámico de cada vista -->
                {% endblock %}
            </section>
        </main>
    </div>
</body>
</html>
