{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <!-- Formulario para registrar un trabajo -->
    <form method="POST" action="{% url 'registro_trabajos' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar Trabajo</button>
    </form>

    <!-- Formulario para cerrar sesión -->
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <button type="submit">Cerrar Sesión</button>
    </form>
</div>
{% endblock %}
