<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>

    <h1>Sistema de Gestión de Reparaciones</h1>

    <!-- Botón para iniciar sesión -->
    <form action="{% url 'login' %}">
        <button type="submit">Iniciar Sesión</button>
    </form>

    <!-- Botón para registrarse -->
    <form action="{% url 'registro' %}">
        <button type="submit">Registrarse</button>
    </form>

</body>
</html>
