<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/p1.css' %}">
    <title>WatchWiz</title>
</head>
<body>
    <main>
        <div>
            <img src="{% static 'img/LogoWacthWiz.png' %}" alt="WatchWiz">
    
            <h1>Sistema de Gestión de Reparaciones</h1>
        
            <!-- enlace para iniciar sesión -->
            <a class="btn-estandar" href="{% url 'login' %}">Iniciar Sesión</a>
        
            <!-- enlace para registrarse -->
            <a class="rgt" href="{% url 'registro' %}">Registrarse</a>
        </div>
    </main>

</body>
</html>
