{% extends 'base.html' %}
{% block content %}
<div class="historial_container">

    <h1>Historial de Trabajos</h1>

    <!-- Botones de filtrado -->
    <form method="get" action="{% url 'historial_trabajos' %}">
        <button type="submit" name="status" value="En espera">En espera</button>
        <button type="submit" name="status" value="Inconveniente">Inconveniente</button>
        <button type="submit" name="status" value="Reparado">Reparado</button>
        <button type="submit" name="status" value="">Entregado</button>
    </form>
    
    <div class = "trabajos-container">
        {% for trabajo in trabajos %}
        <div class="trabajo-card" onclick="location.href='{% url 'trabajos_data' trabajo.id %}'">
            <img src="{{ trabajo.photo }}" alt="Imagen del trabajo" width="100">
            <div>
                <p><strong>Cliente:</strong> {{ trabajo.client_name }}</p>
                <p><strong>Fecha de Recepción:</strong> {{ trabajo.received_date }}</p>
                <p><strong>Costo:</strong> {{ trabajo.service_cost }}</p>
                <p><strong>Descripción:</strong> {{ trabajo.description }}</p>
            </div>
        </div>
        {% endfor %}
        {% if trabajos|length == 0 %}
        <p>No se encontraron trabajos.</p>
        {% endif %}
    </div>
</body>
{% endblock %}
